Temp: $current.outTemp\nHumidity: $current.outHumidity\nPressure: $current.barometer\nWind: $current.windDir.ordinal_compass\nWindspeed $current.windSpeed (avg), $current.windGust (gust)\nRain Rate: $current.rainRate Rain Total: $day.rain.sum\n \n http://example.com \n
